<div class="flex">
    <div *ngFor="let post of listPosts">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-card-avatar">
                <img [src]="avatar" alt="Foto del usuario" width="40px">
              </div>
              <div class="header">
                <mat-card-title>{{post.title}}</mat-card-title>
                <p>{{nombreUsuario}}</p>
              </div>
            </mat-card-header>
            <img mat-card-image src={{post.document}} alt="Foto del post">
            <mat-card-content>
              <p>
                {{post.text}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="remPost(post.id)"><mat-icon>delete</mat-icon></button>
            </mat-card-actions>
          </mat-card>  
          <br>
    </div>
</div>